#page-header {
  height: 200px;
  background-image: url(../assets/images/header_image.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}

#main-footer {
  background-color: #343a40;
  color: #fff;
}
